.centeraligned {
  text-align: center;
}

#content {
  padding: 1em 0;
  width: 75%;
  margin: auto;
}

.btn-primary {
  margin: 1em 0;
}

.jumbotron {
  padding: 2em 3em;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
}

.jumbotron h1 {
  font-size: 280%;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: normal;
}

.row {
  margin: 1em 0 0;
}

.footer {
  background-color: #f5f5f5;
  color: #777;
  padding: 2em 3em;
}

.form-next-input,
.form-next-focus--first {
  width: 50px;
  margin: auto;
}

#table-next-toggle {
  width: 70%;
  margin: auto;
}

#table-next-toggle td:nth-child(3) {
  text-align: right;
}

#toggled {
  margin-top: 1em;
}

.table-modal {
  width: 50%;
  border-collapse: collapse;
  margin: auto;
}

.table-modal--cell {
  text-align: center;
}